{% extends 'base.html' %} {% block content %}

<head>
    <style>
    .photo {
        color:red;
    }
    p {
        color:red;
    }
    </style>
</head>

<body>
    <br>
    <form method="POST" enctype="multipart/form-data">

        {% csrf_token%}
        <p>* 사진 첨부 필수!</p>
        <table>
            {{cform.as_table}}
        </table> 
        <br>
        <input style="float:right; margin-right:30px;" class="btn btn-dark" type="submit" value="제출">
        <br>
    </form>
</body>

{% endblock %}